.body-main{
    padding-top: 30px;
}
.path{
    background-color: #242424
}
.left-tabs{
    font-size:1.4rem;
    justify-content:start!important;
    justify-content:space-between

}
.left-tab-profile{
    text-align:center;
    /* margin-left: 25px; */
    margin-top: 20px;
    font-size: 1.4rem;
}
.left-body-browser-item{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 450;
    
    padding:20px 20px;
    /* border:1px solid #988c8d */
}
.browser-item-clear{
    font-size: 1.4rem;
    font-weight:450;
    color:#988c8d
}
.form-select{
    /* font-size: 1.4rem; */
}
.left-body-browser-item-mid h6{
    font-size: 1.4rem;
    font-weight: 450;  
    text-align: start;

}
.left-body-browser-item-mid h6 i{
    color:#ff4500
}
