.footer{
    /* max-width: 1600px; */
    /* height: 500px; */
    background-color: #242424;
    margin: 0;
    padding:0;
}
hr.dropdown-divider{
    background-color:#353535;
}
.footer-main{
    /* max-width: 1170px; */
    /* height:300px; */
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #242424;
    padding-left: 15px;
    margin: auto;
}
.footer-main a{
    width: 25%;
    height: 100%;
}
.text{
    color:#9a9a9a;
    padding-top: 30px;
    /* max-width: 204.8px; */
    font-size: 1.4rem;
    list-style: none;
    /* cursor: pointer; */

}

.text li a{
    text-decoration: none;
    color:#9a9a9a;
    padding-top: 30px;

}
.text li a:hover{
    color:#ffffff
}
.title{
    font-weight: 580;
    margin-top: 5px;
    color:#ffffff;
    padding:0;
    font-size:1.8rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}
.about-company{
    padding-left: 0;
}

.about-company p{
    width: 204.8px;
    height: 175px;  
}
/* footer-bottom */
.footer-bot{
    /* height:70px; */
    align-items: center;
}
.fa-solid.fa-copyright{
    font-size: 1.4rem;
    color:#888888;
}
.footer-bot_left{
    display: flex;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 25px;
}
.footer-bot-text{
    color:#888888;
    font-size: 1.4rem;
    align-items: center;
}
.footer-bot-right{
    align-items:center;
    display:flex;
    margin-top:-15px;
    justify-content: end;
    margin-right: 60px;
}
.footer-bot-right-left{
    color:#ffffff;
    font-size: 1.4rem;
    

}
.social-icon{
    font-size: 1.4rem;
    margin-left:20px;
    color:#888888;

    /* display:inline-flex; */
    /* justify-content: end; */
}
.social-icon i{
    margin-left:30px
}
.social-icon i:hover{
    color:#8479E1;
}
@media only screen and (max-width: 600px) {
    .footer-bot-right-left{
        display:none;
    }
    .social-icon{
        margin-left: 0;
        margin-left: -20px;

    }
    .footer-bot-right{
        justify-content: start;
    }
}