<section class="header">
    <!-- <body style="background-color: #f5f5f5; height: 100vh" class="body-container"> -->
      <!-- Bootstrap row -->
      <div class="container">
           <div class="row" id="body-row">
  
        <div class="overlay d-none"></div>
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none">
          <ul class="list-group">
            <!-- /END Separator -->
            <!-- Menu with submenu -->
            <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">Home</span>
              </div>
            </a>
            <!-- Submenu content -->
            <div id="submenu1" class="collapse sidebar-submenu">
              <a href="#" class="list-group-item list-group-item-action">
                <span class="menu-collapsed">Charts</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action ">
                <span class="menu-collapsed">Reports</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action ">
                <span class="menu-collapsed">Tables</span>
              </a>
            </div>
            <a
              href="#submenu2"
              data-toggle="collapse"
              aria-expanded="false"
              class=" list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="menu-collapsed">Find Jobs</span>
              </div>
            </a>
            <!-- Submenu content -->
            <div id="submenu2" class="collapse sidebar-submenu">
              <a
                href="#"
                class="list-group-item list-group-item-action "
              >
                <span class="menu-collapsed">Settings</span>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action "
              >
                <span class="menu-collapsed">Password</span>
              </a>
            </div>
            <a href="#" class=" list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="menu-collapsed">Find Works</span>
              </div>
            </a>
            <!-- /END Separator -->
            <a href="#" class=" list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="menu-collapsed">Find Company</span>
              </div>
            </a>
            <a href="#" class=" list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="menu-collapsed"
                  >Find Freelancer
              </div>
            </a>
            <!-- /END Separator -->
            <a href="#" class=" list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="menu-collapsed">Pages</span>
              </div>
            </a>
            </a>
            <!-- Logo -->
            
          </ul>
          <!-- List Group END-->
        </div>
      </div>
      <!-- body-row END -->
  
      <div class="container">
        <div class="row" style="align-items: center; height: 40px">
          <div class="col-xl-4 col-lg-5 col-sm-6 col-md-5 left-header-edge">
            <div class="display-item">
              <div class="text-header padding-item icon-common text-header-logo">
                <span style="color:#847577">Welcome to Jobby</span>
              </div>
              <div
                class="display-item padding-item icon-common padding-item-none"
              >
                <span><i style="color:#ff4500" class="fas fa-globe center"></i></span>
                <div class="dropdown">
                  <span
                    class="padding-item-self hover-item"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span style="margin-right: 5px">&ensp;EN</span>
                    <i class="fas fa-caret-down"></i>
                  </span>
                  <div
                    class="dropdown-menu icon-common dropdown-menu-commons"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item dropdown-item-common" href="#">EN</a>
                    <a class="dropdown-item dropdown-item-common" href="#">DE</a>
                    <a class="dropdown-item dropdown-item-common" href="#">RU</a>
                    <a class="dropdown-item dropdown-item-common" href="#">ES</a>
                    <a class="dropdown-item dropdown-item-common" href="#">FR</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-2 col-md-1 col-sm-auto middle-header"></div>
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 right-header">
            <div class="header-right">
              <div class="padding-item border-item">
                <span class="position-item">
                  <div class="btn-group">
                    <!-- btn-bell -->
                    <span data-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-envelope hover-item icon-self" style="font-size:1.4rem;color:#b1b1b1"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-commons">
                      <div class="dropdown-item display-item">
                        <!-- <i class="fas fa-user-nurse hover-cursor"></i> -->
                        <img src="./image/avt.png" alt="avatar" srcset="">
  
                        <div class="hover-cursor" style="margin-left: 20px">
                          <div style="display: flex;justify-content: space-between;align-items: center;">
                            <b class="icon-common hover-item">Rock Welcome</b>
                            <span style="font-size:1.2rem; padding-top: 2rem;">2 min ago</span>
                          </div>
                          <div class="text-bell-common">
                            hello1
                            <span class="text-color-common hover-item-black"
                              >hello ddsafsf</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item display-item">
                        <!-- <i class="fas fa-user-nurse hover-cursor"></i> -->
                        <img src="./image/avt.png" alt="avatar" srcset="">
                        <div class="hover-cursor" style="margin-left: 20px">
                          <div
                            style="
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                            "
                          >
                            <b class="icon-common hover-item">Rock Welcome</b>
                            <span style="font-size: 1.2rem; padding-top: 2rem;">2 min ago</span>
                          </div>
                          <div class="text-bell-common">
                            hello
                            <span class="text-color-common hover-item-black"
                              >hello ddsafsf</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item display-item">
                        <!-- <i class="fas fa-user-nurse hover-cursor"></i> -->
                        <img src="./image/avt.png" alt="avatar" srcset="">
  
                        <div class="hover-cursor" style="margin-left: 20px">
                          <div
                            style="
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                            "
                          >
                            <b class="icon-common hover-item">Rock Welcome</b>
                            <span style="font-size: 1.2rem;padding-top: 2rem;">2 min ago</span>
                          </div>
                          <div class="text-bell-common">
                            hello hi nghe
                            <span class="text-color-common hover-item-black"
                              >hello ddsafsf</span
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="dropdown-item display-item dropdown-hover"
                        style="background: black"
                      >
                        <span
                          style="
                            color: white;
                            font-size: 0.8rem;
                            display: block;
                            text-align: center;
                            padding: 10px 0;
                          "
                          >Wiew all notifications</span
                        >
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <div class="padding-item">
                <span class="position-item">
                  <div class="btn-group">
                    <span data-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-bell icon-self hover-item" style="font-size:1.4rem;color:#b1b1b1"></i>
                    </span>
                    <div
                      class="dropdown-menu dropdown-menu-right dropdown-menu-commons"
                    >
                      <div class="dropdown-item display-item">
                        <i class="fas fa-user-nurse hover-cursor"></i>
                        <div class="hover-cursor" style="margin-left: 20px">
                          <div>
                            <b class="icon-common hover-item">Rock Welcome</b>
                          </div>
                          <div class="text-bell-common">
                            hello
                            <span class="text-color-common hover-item-black"
                              >hello ddsafsf</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item display-item">
                        <i class="fas fa-user-nurse hover-cursor"></i>
                        <div class="hover-cursor" style="margin-left: 20px">
                          <div>
                            <b class="icon-common hover-item">Rock Welcome</b>
                          </div>
                          <div class="text-bell-common">
                            hello
                            <span class="text-color-common hover-item-black"
                              >hello ddsafsf</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item display-item">
                        <i class="fas fa-user-nurse hover-cursor"></i>
                        <div class="hover-cursor" style="margin-left: 20px">
                          <div>
                            <b class="icon-common hover-item">Rock Welcome</b>
                          </div>
                          <div class="text-bell-common">
                            hello nguoi
                            <span class="text-color-common hover-item-black"
                              >Rock Williamapplied for a Php Developer</span
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="dropdown-item display-item dropdown-hover"
                        style="background: black"
                      >
                        <span
                          style="
                            color: white;
                            font-size: 0.8rem;
                            display: block;
                            text-align: center;
                            padding: 10px 0;
                          "
                          >Wiew all notifications</span
                        >
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <ul class="padding-item display-item list-item border-item wraper-list">
                <li><img src="./image/avt.png" alt="" srcset=""></li>
                <li class="padding-item-self icon-common hover-item">
                  <div class="dropdown">
                    <span class="padding-item-self " id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                      <span style="margin-right: 5px;margin-left: 10px;" class="text-name">Hi! John</span><i class="fas fa-caret-down"></i>
                    </span>
                    <div class="dropdown-menu icon-common dropdown-menu-commons" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item dropdown-item-common" href="#">Dashboard</a>
                      <a class="dropdown-item dropdown-item-common" href="#">Settings</a>
                      <a class="dropdown-item dropdown-item-common" href="#">My Messages</a>
                      <a class="dropdown-item dropdown-item-common" href="#">My Jobs</a>
                      <a class="dropdown-item dropdown-item-common" href="#">My Bids</a>
                      <a class="dropdown-item dropdown-item-common" href="#">Settings</a>
                      <a class="dropdown-item dropdown-item-common" href="#">My Messages</a>
                      <a class="dropdown-item dropdown-item-common" href="#">My Jobs</a>
                      <a class="dropdown-item dropdown-item-common" href="#">My Bids</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="row" style="align-items: center; height: 60px">
          <div class="col-xl-2 col-lg-4 col-md-8 col-sm-6 col-6 header-boddy">
            <span class="bars-icon"><i class="fas fa-bars"></i></span>
            <img src="./image/logo.png" alt="logo" srcset="">
          </div>
          <div class="col-xl-7 col-lg-8 col-md-4 col-sm-6 col-6 header-input">
            <div
              class="input-group search-md"
              style="border-bottom: 1px solid #ff4500"
            >
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  id="basic-addon1"
                  style="border: none; background: white"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                aria-label="Username"
                aria-describedby="basic-addon1"
                style="border: none"
              />
            </div>
  
            <ul
              class="list-item display-item list-item-content media-list"
              style="justify-content: flex-end"
            >
              <li>Home</li>
              <li class="display-item padding-item icon-common">
                <div class="dropdown">
                  <span
                    class="padding-item-self hover-item"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span>Find Jobs</span>
                  </span>
                  <div class="dropdown-menu icon-common dropdown-menu-commons" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item dropdown-item-common" href="#">Browser Jobs</a>
                    <a class="dropdown-item dropdown-item-common" href="#">Single Jobs</a>
                    <a class="dropdown-item dropdown-item-common" href="#">Post a Job</a>
                  </div>
                </div>
              </li>
  
              <li class="display-item padding-item icon-common">
                <div class="dropdown">
                  <span
                    class="padding-item-self hover-item"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span>Find Work</span>
                  </span>
                  <div
                    class="dropdown-menu icon-common dropdown-menu-commons"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                  </div>
                </div>
              </li>
              <li class="display-item padding-item icon-common">
                <div class="dropdown">
                  <span
                    class="padding-item-self hover-item"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span>Find Company</span>
                  </span>
                  <div
                    class="dropdown-menu icon-common dropdown-menu-commons"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                  </div>
                </div>
              </li>
              <li class="display-item padding-item icon-common">
                <div class="dropdown">
                  <span
                    class="padding-item-self hover-item"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span>Find Freelancer</span>
                  </span>
                  <div
                    class="dropdown-menu icon-common dropdown-menu-commons"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                  </div>
                </div>
              </li>
  
              <li class="display-item padding-item icon-common">
                <div class="dropdown">
                  <span
                    class="padding-item-self hover-item"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span>Pages <i class="fas fa-caret-down"></i></span>
                  </span>
                  <div
                    class="dropdown-menu icon-common dropdown-menu-commons"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Browser Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Single Jobs</a
                    >
                    <a class="dropdown-item dropdown-item-common" href="#"
                      >Post a Job</a
                    >
                  </div>
                </div>
              </li>
  
              <li
                data-toggle="modal"
                data-target="#exampleModal"
                data-whatever="@mdo"
                class="hover-cursor"
              >
                <i class="fas fa-search"></i>
              </li>
  
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <input
                      type="text"
                      class="form-control"
                      id="recipient-name"
                      placeholder="Search keywords..."
                    />
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <div class="col-3 btn-header-right">
            <button type="button" class="btn icon-common" style="background-color:#ff4500; color:#ffffff;font-weight:450">
              POST A JOB
            </button>
            <button
              type="button"
              class="btn btn-dark icon-common"
              style="margin-left: 10px"
            >
              POST A TASK
            </button>
          </div>
        </div>
      </div>
      </div>
  </section>