<div class="search">
    <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12 search-group keywords d-block">
        <input type="text" placeholder="Keywords (e.g. Job Title, Position...)" class="col-lg-4 col-md-3 col-sm-12 search-group keywords d-block m-0 p-0">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 search-group location">
        <input type="text" placeholder="Location (e.g. City, Country...)" class="col-lg-3 col-md-3 col-sm-12 search-group location m-0 p-0">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 search-group industry">
        <input type="text" placeholder="Industry (e.g. Design, Art...)" class="col-lg-3 col-md-3 col-sm-12 search-group industry m-0 p-0">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 search-group btn-search">
        <button class="col-lg-2 col-md-3 col-sm-12 search-group btn-search m-0 p-0">
            <i class="fa-solid fa-magnifying-glass"></i>&ensp; SEARCH NOW
        </button>
        </div>
    </div>
    </div>
</div>
