<div class="container-fluid slideshow">
    <div class="container-fluid bg-danger m-0 p-0">
      <div class="row">
        <% for(state of states){ %>  
        <div class="col-lg image-items col-md col-xl">
          <img src="./image/<%= state.image %>" alt="" srcset="">
          <h3 class="title-slide"> <%= state.name %> </h3>
          <button class="btn btn-slide"><%= state.jobs %> Jobs</button>
        </div>
        <% } %>
        <!-- <div class="col-lg image-items col-md col-xl">
          <img src="./image/img-slide2.png" alt="" srcset="">
          <h3 class="title-slide">California</h3>
          <button class="btn btn-slide">125 Jobs</button>

        </div>
        <div class="col-lg image-items col-md col-xl">
          <img src="./image/img-slide1.png" alt="" srcset=""> 
          <h3 class="title-slide">California</h3>
          <button class="btn btn-slide">125 Jobs</button>
          
        </div>
        <div class="col-lg image-items col-md col-xl">
          <img src="./image/img-slide2.png" alt="" srcset="">
          <h3 class="title-slide">California</h3>
          <button class="btn btn-slide">125 Jobs</button>

        </div>
        <div class="col-lg image-items col-md col-xl">
          <img src="./image/img-slide1.png" alt="" srcset="">
          <h3 class="title-slide">California</h3>
          <button class="btn btn-slide">125 Jobs</button>

        </div>-->
      </div> 
    </div>
  </div>